
.container {
    text-align: center;
}

.inner {
    width: 70vw;
    min-height: 80vh;
    margin: 0 auto;
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}

.inner .item {
    display: inline-block;
    margin: 0;
    width: 25%;
    height: 25vh;
    /* vh:창에 맞추어 비율을 적용 */
    border: 1px solid black;
    box-sizing: border-box;
}
/* 이름으로 색상적용 */
.color2 { background-color: cornflowerblue;}
.color3 { background-color: mediumaquamarine;}
.color4 { background-color: slateblue;}
/* 색상코드 */
.color5 { background-color: #81ecec;}
.color6 { background-color: #ff7675;}
.color7 { background-color: #e84393;}
.color8 { background-color: #2c2c54;}
/* rgb 코드로 적용 rgba로도 적용가능 */
.color9 { background-color: rgb(0, 168, 255);}
.color10 { background-color: rgb(232, 65, 24);}
.color11 { background-color: rgba(223, 249, 251,0.8);}
.color12 { background-color: rgba(68, 189, 50,0.3);}
/* hsl로 적용  hsla로 적용 */
.color13 { background-color: hsl(147, 50%, 47%);}
.color14 { background-color: hsl(248, 53%, 58%);}
.color15 { background-color: hsla(9, 100%, 64%, 0.2);}
.color16 { background-color: hsla(9, 100%, 64%, 0.8);}


